.cover-img {
  width: 70px;
  height: 100px;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.custom-table td, .custom-table th {
  vertical-align: middle;
}

.custom-table tbody tr:hover {
  background-color: #1a237e;
  transition: 0.3s;
  color: #fff;
}

.custom-table tbody tr:hover {
  background-color: #3949ab;
  transition: background-color 0.3s, color 0.3s;
  color: #fff;
}

.custom-table thead th {
  font-weight: bold;
  text-transform: uppercase;
}
